.box {
  border: 1px solid black;
  position: relative;

  .label {
    padding: 20px;
    display: inline-block;
    padding-right: 50%;
  }
  
  .table_product {
    padding: 20px;
    padding-top: 0px;
  }
}